#wrapper {
    width: 100%;
    margin: 10px auto 10px auto;  
    height: 100%;
    background-image:url('https://googledrive.com/host/0ByiDuodl4dz-dF83QlBaMWlnR0U/GLASS.jpg'); 
    background-repeat:repeat-x;
    background-repeat:repeat-y;

}

#logo
{
    margin: 0 0 0 0;
    background:#1D2F3F;
    width: 150px;
    height: 100%;
    float: left;    
}

h1 {font-family: Times, Serif;}
p, p1 {font-family: Verdana, Sans-Serif;}
a {font-family: Verdana, Sans-Serif;}
h1{ color:#c9e1c1;}
h2{color:#c9e1c1;}
p{ color:#1D2F3E;}
p1{ color:#1D2F3E;}
a{ color:#c9e1c1;}

header {
  
    width: 75%;
    margin: 0 0 0px 20px;
    height: 95px;
    background:#1D2F3E;
    text-align: center;
    float:left;
    
}

.article-header {
    margin: 0px 10px auto 0px;
    width:100%;
    background: #152737;
    height: 70px;
    text-align:center;
   
}

.second-article{
    background:#152737;
    margin: 0 0 0 0;
    height: 70px;
    width:100%;
}

.article-footer{
    height:150px;
    background:#c9e1c1;
}

nav li { display:inline;}

nav, aside{
    background:#152737;
    width: 75%;
    height:50px;
    margin: 5px 30px 0px 20px;
    float: left;
    text-align:center;
}


article {
    margin:20px 10px 0px 20px;
    background:#c9e1c1;
    width:75%;
    float: left;
    text-align:center;
    color:#1D2F3E;
}



#page-footer {
    margin: 20px 20px 0 0;
    clear:left;
    background:#1D2F3E;
}
