#wrapper {
    width: 500px;
    margin: 10px auto 10px auto;  
    height: 1000px;
    background:black;  
}

h1 {font-family: Times, Serif;}
p {font-family: Verdana, Sans-Serif;}
a {font-family: Verdana, Sans-Serif;}
h1{ color:#FF7519;}
h2{color:black;}
p{ color:#A00000;}
a{ color:black ;}

header {
    width: 100%;
    height: 50px;
    background:#A00000 ;
    text-align: center;
}

.article-header {
    background:#CC5200;
    height: 30px;
   
}

.second-article{
    background:#CC5200;
    height: 80px;
}

.article-footer{
    height:73.95px;
}
        

nav, aside {
    background:#A00000;
    width:150px;
    height:400px;
    float: left;
}

article {

    background:#FF7519;
    width:350px;
    float: left;
    text-align:center;
}

#page-footer {
    clear:left;
    background:#D14719;

}
